.ds-mod-column{
	position: relative;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
	min-height: 1px;
}
.ds-mod-column.ds-fcl, .ds-mod-column.ds-fcs{
	width: 25%;
}
.ds-mod-column.ds-tcl, .ds-mod-column.ds-tcs{
	width: 33%;
}
.ds-mod-column.ds-wcl, .ds-mod-column.ds-wcs{
	width: 50%;
}
.ds-mod-column.ds-ocl, .ds-mod-column.ds-ocs{
	width: 100%;
}