.ds-mod-column{
	position: relative;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
	min-height: 1px;
}
.ds-mod-column.fcl, .ds-mod-column.fcs{
	width: 25%;
}
.ds-mod-column.tcl, .ds-mod-column.tcs{
	width: 33%;
}
.ds-mod-column.wcl, .ds-mod-column.wcs{
	width: 50%;
}
.ds-mod-column.ocl, .ds-mod-column.ocs{
	width: 100%;
}